.hero_section{
    margin: 0px;
    padding: 0px; 
    padding-top: 30vh;
    background-color: rgb(177,66,94);
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
.left_hero_section{
    display: flex;
    flex-direction: column;
    margin: 40px;
}
.left_hero_section_heading h1{
    color: white;
    font-weight: 800;
    font-size: 50px;
    padding: 10px;
}
.left_hero_section_heading h1 span{
    font-style: italic;
}
.left_hero_section_input{
    display: flex;
    padding: 10px 5px;
    margin: 5px;
}
.left_hero_section_input input{
    height: 45px;
    padding: 20px;
    font-size: 15px;
    font-weight: 550;
    border: none;
    flex: 0.9;
    border-radius: 2px 0px 0px 2px;
}
.left_hero_section_input button{
    flex:0.2;
    background-color: rgb(29,191,115);
    border: none;
    border-radius: 0px 3px 3px 0px ;
}
.left_hero_section_categories{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.left_hero_section_categories ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.left_hero_section_categories ul li{
    padding: 2px 8px;
    margin: 0px 5px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.left_hero_section_categories ul li:hover{
    background-color: rgb(29,191,115);
}
.left_hero_section_categories ul li:first-child{
    border: none;
    font-weight: 700;
}
.right_hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right_hero_section_img{
    position: relative;
}
.hero_image_name{
    position: absolute;
    bottom: 18px;
    right: 16px;
}
.hero_image_name span{
    font-weight: bold;
}
.right_hero_section_img img{
    margin-top: 3px;
    min-height: 70vh;
    width: 42vw;
    z-index: -1;
}

@media screen and (max-width: 900px){
    .right_hero_section{
        display: none;
    }
    .left_hero_section{
        display: flex;
        flex-direction: column;
        margin: 40px;
    }
    .left_hero_section_heading h1{
        font-weight: 500;
        font-size: 50px;
        padding: 5px;
    }
    .left_hero_section_categories ul li{
        font-weight: 300;
    }
}
@media screen and (max-width: 600px){
    .left_hero_section_heading h1{
        font-weight: 450;
        font-size: 40px;
        padding-left: 5px;
    }
    .left_hero_section{
        margin-left: 10px;
    }
    .left_hero_section_input{
        margin-top: 8px;
    }
    .left_hero_section_input input{
        max-width: 250px;
    }
}